
.header{
    width: 100%;
    

    background-color: var(--white);
    position: fixed;
    top: 0px;
    left: -1px;
    box-shadow: 10px 10px 8px 2px rgba(131, 131, 131, 0.267);
    @media screen and (min-width: 1200px) {

    }
}
.header-container{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width:768px){
  padding-top: 15px;
  padding-bottom: 15px;
  }
  @media screen and (min-width:1200px){
  padding-top: 18px;
  padding-bottom: 18px;
  }
}
svg{
  fill: var(--accent-color);
}

.logo{
    // padding-top: 14px;
    // padding-bottom: 14px;
    
    display: flex;
    background-image: url(../img/logo-en.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width:320px) {
        width: 120px;
        height: auto;
      
    }

    @media screen and (min-width:1024px) {
        width: 140px;
        
        
    }
    @media screen and (min-width: 1200px) {
        width: 180px;
        
        
        
    }
}

.header-box{
    color: var(--prime-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 767px) {
    display: none;
    }
    
}


.header-text{
    color: var(--second-accent-color);
    font-weight: 600;
    text-transform: uppercase;
    
    transition: font-size 550ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1;
    }
    @media screen and (min-width: 1200px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
    }
}

.header-text:hover,
.header-text:focus{
color: var(--grey);

@media screen and (min-width:768px) {
    font-size: 20px;
}
@media screen and (min-width:1200px) {
    font-size: 30px;
}
}


.header-nav .items:not(:last-child) {
  
  @media screen and (min-width:768px){
  margin-right: 16px;
  }
  @media screen and (min-width:1024px){
    margin-right: 40px;
  }

}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.14;
  color: var(--second-accent-color);
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  
  @media screen and (min-width:1200px){
  font-size: 20px;
  }
}

.items:hover .current::after,
.items:focus .current::after {
  visibility: visible ;
}

.input-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.current::after {
  visibility: hidden ;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(199, 113, 233, 0.3);
  border-radius: 2px;
  display: block;
  bottom: -8px;
  box-shadow: 2px 2px 8px 2px rgba(199, 113, 233, 0.3);
}

input {
  border: none;
  box-sizing: border-box;
  // filter: drop-shadow(0px 4px 4px rgba(145, 10, 145, 0.15));
  box-shadow: 2px 2px 8px 2px rgba(199, 113, 233, 0.3);
  border-radius: 4px;
  color: var(--primary-bg-color);

  @media screen and (min-width:768px){
  width: 100px;
  margin-right: 3px;
  height: 20px;
  padding-left: 6px;
  padding-right: 6px; 
  }
  @media screen and (min-width:1024px){
  width: 150px;
  }
  @media screen and (min-width:1200px){
  width: 200px;
  margin-right: 5px;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px; 
  }

}

.btn-header{
  display: block;
  width: 20px;
  height: 20px;
  
  border-radius: 2px;
  border: none;
  background-color:var(--white) ;
  background-image: url(../img/search.svg);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: background-color 250ms, color 250ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width:1200px){
    margin-left: 5px;
  width: 30px;
  height: 30px;
  }
}
.btn-header:hover,
.btn-header:focus {
  // background-color: var(--accent-color);
  box-shadow: 2px 2px 8px 2px rgba(199, 113, 233, 0.3);
  cursor: pointer;
}

.btn-personal{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  
  background-image: url(../img/iconface.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-color 250ms, color 250ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:1200px){
  width: 40px;
  height: 40px;  
  }
}
.btn-personal:hover,
.btn-personal:focus {
  box-shadow: 2px 2px 8px 2px rgba(199, 113, 233, 0.3);
  cursor: pointer;
  background-image: url(../img/logo-gold.png);
}

.btn-shop {
  width: 30px;
  height: 30px;
  
  border: none;
  background-color: var(--white);
  background-image: url(../img/icon/buy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: background-color 250ms, color 250ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:1200px){
  width: 40px;
  height: 40px;    
  }
}


.btn-shop:hover,
.btn-shop:focus {
  box-shadow: 2px 2px 8px 2px rgba(199, 113, 233, 0.3);
  cursor: pointer;
}